{% extends "core/base.html" %}

{% block contenido %}

<h2> Listado de Flores </h2>

<table class="table">
  <tr>
     <th>Nombre</th>
     <th>Valor</th>
     <th>Descripcion</th>
     <th>Stock</th>
     <th>Estado</th>
     <th>Opciones</th>


  
  </tr>
    

    {% for f in flores %}
     
      <tr>
         <td>{{ f.name }}</td>
         <td>{{ f.valor }}</td>
         <td>{{ f.descripcion }}</td>
         <td>{{ f.stock }}</td>
         <td>{{ f.estado }}</td>

         <td>
             <a href="{% url 'modificar_flores' f.name %}">Modificar</a>
             <a href="{% url 'eliminar_flor' f.name %}">Eliminar</a>
         </td>
      </tr>


    {% endfor %}



</table>

{% endblock contenido %}